.lang-switcher {
  width: @menu-height;
  height: @menu-height;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  .lang{
    width: 50%;
    height: 50%;

    background: url('img/globe.png');
    background-size: cover;
    background-position: 50%, 50%;
  }
}

.lang-switcher:hover {
  background-color: fade(@white, 10%);
}

.lang-switcher-modal {
  ul {
    list-style: none;
    padding: 0px;
    margin:0px;
    width: 100%;
  }

  li {
    width: 100%;
    height: 30px;
    padding-top: 15px;
    cursor: pointer;
  }

  li.selected {
    background-color: fade(@white, 20%);
  }

  li:hover {
    background-color: @highlight;
  }
}
