.menu {
  width: 100vw;
  height: @menu-height;
  background-color: @dark;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    padding-left: 20px;
  }
}
