.player {
  height: 100%;
  width: 100%;
  position: relative;

  .slide-swipe {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .slide-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      position: relative;

      transition-property: left;
      transition-duration: .7s;

      width: 10000%;
      height: 1000%;

      .slide-container {
        width: 1%;
        min-height: 8.5%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
      }

      .slide {
        .font-slide1;
      }
    }
  }

  .nav {
    position: absolute;
    left: 2.5%;
    bottom: 2.5%;
    width: 95%;
    height: 10%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .previous, .audio, .next {
      height: 100%;

      img {
        height: 100%;
        background-color: fade(@white, 20%);
        border: thin solid transparent;
        cursor: pointer;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 50% 50%;
      }

      img:hover {
        border: thin solid @white;
        background-color: fade(@white, 40%);
      }
    }

    .audio {
      transition-property: opacity;
      transition-duration: 0.5s;
    }

    .previous img {
      background-image: url('img/left.png');
    }

    .audio img {
      background-image: url('img/audio.png');
    }

    .next img {
      background-image: url('img/right.png');
    }
  }
}
